table, th, td { border: 1px solid gray; border-collapse: collapse; }
td { text-align: center; }
.status-new { background-color: white; }
.status-start { background-color: lightskyblue; }
.status-cancel { background-color: yellow; }
.status-success { background-color: lightgreen; }
.status-fail { background-color: red; }
