body { font-family: monospace, monospace; }
header {
  padding: 2rem 2rem 0 2rem;
  margin: auto;
}
main {
  padding: 2rem;
  margin: auto;
}
pre { padding: 1em; border: 0; }
h1, h2, h3, h4, h5 { margin-bottom: .1rem; }
blockquote { margin: 0.5em 10px; padding: 0.5em 10px; }
header nav ul {
  list-style-type: none;
  padding-left: 0;
}
header nav ul li { display: inline-block; }
header nav ul li::before { content: " • "; }
header nav ul li:first-child::before { content: ""; }

/* (prefers-color-scheme: light) { */
	body { background: #fbf1c7; color: #3c3836; }
	pre { background-color: #ebdbb2; }
	blockquote { border-left: 1px solid #655c54; }
/* } */

@media (prefers-color-scheme: dark) {
	body { background: #282828; color: #ebdbb2; }
	pre { background-color: #3c3836; }
	a { color: #72b9cf; }
	a:active { color: red; }
	a:visited { color: #d95f97; }
	blockquote { border-left: 1px solid #bdae93; }
}

@media screen and (min-width: 1000px) {
  #search { width: 50%; }
}
#search { margin-bottom: 2em; }
.field label { float: left; }
.field input, .field select { float: right; }
.field br { clear: both; }
table, th, td { border: 1px solid gray; border-collapse: collapse; }
td { text-align: center; }
.status { background-color: white; }
.status-BUSY, .status-START { background-color: lightskyblue; }
.status-CANCEL, .status-DEPFAIL { background-color: yellow; }
.status-ONLINE, .status-IDLE, .status-SUCCESS { background-color: lightgreen; }
.status-FAIL { background-color: red; }
.status-ERROR { background-color: magenta; }
.status-OFFLINE, .status-IGNORE { background-color: lightgray; }

/* (prefers-color-scheme: light) { */
	.status-FAIL, .status-FAIL a { color: white !important; }
	.status-ERROR, .status-ERROR a { color: white !important; }
/* } */

@media (prefers-color-scheme: dark) {
	.status, .status a { color: black !important; }
}
