{# vim: set ft=jinja: #}
{#
   Parameters:
   * project_page: bool
   * project: str (if project_page)
   * events: List[(Event, jobs: int, tasks: int)]
#}
{%- extends "base.tmpl" -%}
{%- set page = "events" -%}
{%- block title -%}
 {%- if project_page -%}
  {{ link("project", project, project) }}
 {%- else -%}
  Searching events
 {%- endif -%}
{%- endblock -%}

{% block content %}
 {% if not project_page %}
  {% call searchform() %}
   {{ input("project", "Project (*)") }}
   {{ input("user", "User (*)") }}
   {{ fselect("type", "Type", event_types) }}
   {{ input("clone", "Clone URI (*)") }}
   {{ input("target", "Target branch (*)") }}
   {{ input("mrid", "Merge request ID") }}
   {{ input("mrclone", "Merge request clone URI (*)") }}
   {{ input("mrbranch", "Merge request branch (*)") }}
   {{ fselect("status", "Status", statuses) }}
  {% endcall %}
 {% endif %}

 <table>
  <thead>
   <tr>
    <th>ID</th>
    {% if not project_page %}
     <th>Project</th>
    {% endif %}
    <th>Type</th>
    <th>Target</th>
    <th>MR#</th>
    <th>Revision</th>
    <th>User</th>
    <th>Reason</th>
    <th>Status</th>
    <th>Created</th>
    <th>Updated</th>
    <th>Jobs</th>
    <th>Tasks</th>
   </tr>
  </thead>
  <tbody>
   {% for event, jobs, tasks in events %}
   <tr>
    <td>{{ link("events", event.id, event.id) }}</td>
    {% if not project_page %}
     <td>{{ link("project", event.project, event.project) }}</td>
    {% endif %}
    <td>{{ link("events", event.type, type=event.type) }}</td>
    <td>{{ event.target }}</td>
    <td>
    {% if event.mrid %}
     {{ link("events", event.mrid, project=event.project, mrid=event.mrid) }}
    {% endif %}
    </td>
    <td>{{ event.revision[:16] }}</td>
    <td>{{ link("events", event.user, user=event.user) }}</td>
    <td>{{ event.reason|urlize }}</td>
    <td class="status status-{{ event.status }}">
     {{ link("events", event.status, status=event.status) }}
    </td>
    <td>{{ time(event.created) }}</td>
    <td>{{ time(event.updated) }}</td>
    <td>{{ link("events", jobs, event.id) }}</td>
    <td>{{ link("tasks", tasks, eventid=event.id) }}</td>
   </tr>
   {% endfor %}
  </tbody>
 </table>
{% endblock %}
