{# vim: set ft=jinja sts=1 ts=1 sw=1 et: #}
{#
   Parameters:
   * event: Event (if event_page)
   * event_page: bool
   * jobs: List[Job]
#}
{%- extends "base.tmpl" -%}
{%- set page = "jobs" -%}
{%- block title -%}
 {%- if event_page -%}
  {{ link("events", "Event #" ~ event.id, event.id) }}
 {%- else -%}
  Searching jobs
 {%- endif -%}
{%- endblock -%}

{% block content %}
 {% if event_page %}
  <ul>
   {% call obj_info("Project") %}
    {{ link("project", event.project, event.project) }}
   {% endcall %}
   {% call obj_info("Event") %}
    {{ link("events", event.type, type=event.type) }}
   {% endcall %}
   {% call obj_info("Clone") %}
    {{ link("events", event.clone, clone=event.clone) }}
   {% endcall %}
   {% call obj_info("Target") %}
    {{ link("events", event.target, project=event.project, target=event.target) }}
   {% endcall %}
   {%- if event.type == "mr" -%}
    {% call obj_info("Merge request ID") %}
     {{ link("events", event.mrid, project=event.project, mrid=event.mrid) }}
    {% endcall %}
    {% call obj_info("Merge request clone") %}
     {{ link("events", event.mrclone, project=event.project, mrclone=event.mrclone) }}
    {% endcall %}
    {% call obj_info("Merge request branch") %}
     {{ link("events", event.mrbranch, project=event.project, mrbranch=event.mrbranch) }}
    {% endcall %}
   {%- endif -%}
   {% call obj_info("Revision") %}
    {{ event.revision }}
   {% endcall %}
   {% call obj_info("User") %}
    {{ link("events", event.user, project=event.project, user=event.user) }}
   {% endcall %}
   {% call obj_info("Reason") %}
    {{ event.reason|urlize }}
   {% endcall %}
   {% call obj_info("Status") %}
    <span class="status status-{{ event.status }}">
     {{ link("events", event.status, project=event.project, status=event.status) }}
    </span>
   {% endcall %}
   {% call obj_info("Created") %}
    {{ time(event.created) }}
   {% endcall %}
   {% if event.updated[0] != event.created[0] %}
    {% call obj_info("Updated") %}
     {{ time(event.updated) }}
    {% endcall %}
   {% endif %}
  </ul>
 {% else %}
  {% call searchform() %}
   {{ input("eventid", "Event ID", type="number") }}
   {{ input("builder", "Builder (*)") }}
   {{ input("arch", "Arch (*)") }}
   {{ fselect("status", "Status", statuses) }}
   {{ input("project", "Project (*)") }}
   {{ input("user", "User (*)") }}
   {{ fselect("type", "Type", event_types) }}
   {{ input("clone", "Clone URI (*)") }}
   {{ input("target", "Target branch (*)") }}
   {{ input("mrid", "Merge request ID") }}
   {{ input("mrclone", "Merge request clone URI (*)") }}
   {{ input("mrbranch", "Merge request branch (*)") }}
  {% endcall %}
 {% endif %}

 <table>
  <thead>
   <tr>
    <th>ID</th>
    {% if not event_page %}
     <th>Event</th>
    {% endif %}
    <th>Builder</th>
    <th>Arch</th>
    <th>Status</th>
    <th>Created</th>
    <th>Updated</th>
    <th>Tasks</th>
   </tr>
  </thead>
  <tbody>
   {% for job in jobs %}
    <tr>
     <td>{{ link("jobs", job.id, job.id) }}</td>
     {% if not event_page %}
      <td>{{ link("events", job.event, job.event) }}</td>
     {% endif %}
     <td>{{ link("jobs", job.builder, builder=job.builder) }}</td>
     <td>{{ link("jobs", job.arch, arch=job.arch) }}</td>
     <td class="status status-{{ job.status }}">
      {{ link("jobs", job.status, status=job.status) }}
     </td>
     <td>{{ time(job.created) }}</td>
     <td>{{ time(job.updated) }}</td>
     <td>{{ link("jobs", job.tasks, job.id) }}</td>
    </tr>
   {% endfor %}
  </tbody>
 </table>
 {% endblock %}
