{# vim: set ft=jinja: #}
{#
   Parameters:
   * title: str
   * dispatch_online: str
   * arches: List[
       arch: str,
       new: int,
       started: int,
       builders: List[Builder],
     ]
#}
{% extends "base.tmpl" %}
{%- set page = "arches" -%}
{%- block title -%}
 {{ title }}
{%- endblock -%}

{% block content %}
 <p>
  Dispatch status:
  <span class="status status-{{ dispatch_online }}">
   {{ dispatch_online }}
  </span>
 </p>

 <table>
  <thead>
   <tr>
    <th>Arch</th>
    <th>Waiting</th>
    <th>Running</th>
   </tr>
   <tr>
    <th></th>
    <th colspan="2">Builder</th>
    <th>Status</th>
    <th>Current job</th>
    <th>Previous job</th>
   </tr>
  </thead>
  <tbody>
   {% for arch, new, started, builders in arches %}
    <tr>
     <td>{{ link("jobs", arch, arch=arch) }}</td>
     <td>{{ new }}</td>
     <td>{{ started }}</td>
     <td colspan="3"></td>
    </tr>
    {%
     for builder in builders
     if builder.name
     or (not builder.name and builder.arches[arch].curr_job)
    %}
     {% set barch = builder.arches[arch] %}
     <tr>
      <td></td>
      <td colspan="2">
       {{ link("jobs", builder.name, builder=builder.name, arch=arch) }}
      </td>
      {% if builder.name is none %}
       <td colspan="3">
        {% if barch.curr_job %}
         {{ link("jobs", "#" ~ barch.curr_job.id ~ ": new", barch.curr_job.id) }}<br>
         {{ time(barch.curr_job.updated) }}
        {% endif %}
       </td>
      {% else %}
       {% if not builder.online %}
        {% set status = "OFFLINE" %}
       {% elif not barch.idle %}
        {% set status = "BUSY" %}
       {% else %}
        {% set status = "IDLE" %}
       {% endif %}
       <td class="status status-{{ status if dispatch_online == "ONLINE" else "OFFLINE" }}">
        {{ status ~ "?" if dispatch_online == "OFFLINE" else "" }}
       </td>
       {% if barch.curr_job %}
        <td class="status status-{{ barch.curr_job.status }}">
         {{ link("jobs", "#" ~ barch.curr_job.id, barch.curr_job.id) }}<br>
         {{ time(barch.curr_job.updated) }}
        </td>
       {% else %}
        <td></td>
       {% endif %}
       {% if barch.prev_job %}
        <td class="status status-{{ barch.prev_job.status }}">
         {{ link("jobs", "#" ~ barch.prev_job.id ~ ": " ~ barch.prev_job.status, barch.prev_job.id) }}<br>
         {{ time(barch.prev_job.updated) }}
        </td>
       {% else %}
        <td></td>
       {% endif %}
      {% endif %}
     </tr>
    {% endfor %}
   {% endfor %}
  </tbody>
 </table>
{% endblock %}
