{# vim: set ft=jinja: #}
{#
   Parameters:
   * title: str
   * arches: List[
       arch: str,
       new: int,
       started: int,
     ]
   * builders: List[Builder]
   * dispatch_online: bool
#}
{% extends "base.tmpl" %}
{%- set page = "arches" -%}
{%- block title -%}
 {{ title }}
{%- endblock -%}

{% block content %}
 <p>
  Dispatch status:
  <span class="status status-{{ "ONLINE" if dispatch_online else "OFFLINE" }}">
   {{ "ONLINE" if dispatch_online else "OFFLINE" }}
  </span>
 </p>

 <table>
  <thead>
   <tr>
    <th></th>
    {% for arch, _, _ in arches %}
     <th>{{ link("jobs", arch, arch=arch) }}</th>
    {% endfor %}
   </tr>
  </thead>
  <tbody id="counts">
   <tr>
    <td>Waiting</td>
    {% for _, new, _ in arches %}
     <td>{{ new }}</td>
    {% endfor %}
   </tr>
   <tr>
    <td>Running</td>
    {% for _, _, started in arches %}
     <td>{{ started }}</td>
    {% endfor %}
   </tr>
  </tbody>
  {% for builder in builders %}
   <tbody class="builder">
    <tr>
     <td class="builder-name">
      {{ link("jobs", builder.name, builder=builder.name) }}
     </td>
     {% if builder.name is not none %}
      {% set status = "ONLINE" if builder.online else "OFFLINE" %}
      <td class="status status-{{ status if dispatch_online else "OFFLINE" }}" colspan="{{ arches|length }}">
       {{ status ~ ("?" if not dispatch_online else "") }} for {{ time(builder.updated) }}
      </td>
     {% else %}
      <td colspan="{{ arches|length }}"></td>
     {% endif %}
    </tr>
    {% if builder.name is not none %}
     <tr>
      <td>Status</td>
      {% for arch, barch in builder.arches.items() %}
       {% if not builder.online %}
        {% set status = "OFFLINE" %}
       {% elif not barch.idle %}
        {% set status = "BUSY" %}
       {% else %}
        {% set status = "IDLE" %}
       {% endif %}
       <td class="status status-{{ status if dispatch_online else "OFFLINE" }}">
        {{ status ~ ("?" if not dispatch_online else "") }}
       </td>
      {% endfor %}
     </tr>
    {% endif %}
    <tr>
     <td>{% if builder.name is none %}Next{% else %}Current{% endif %}</td>
     {%
      for arch, barch in builder.arches.items()
     %}
      {% if barch.curr_job %}
       <td class="status status-{{ barch.curr_job.status }}">
        {{ link("jobs", "#" ~ barch.curr_job.id, barch.curr_job.id) }}<br>
        {{ time(barch.curr_job.updated) }}
       </td>
      {% else %}
       <td></td>
      {% endif %}
     {% endfor %}
    </tr>
    {% if builder.name is not none %}
     <tr>
      <td>Previous</td>
      {% for arch, barch in builder.arches.items() %}
       {% if barch.prev_job %}
        <td class="status status-{{ barch.prev_job.status }}">
         {{ link("jobs", "#" ~ barch.prev_job.id ~ ": " ~ barch.prev_job.status, barch.prev_job.id) }}<br>
         {{ time(barch.prev_job.updated) }}
        </td>
       {% else %}
        <td></td>
       {% endif %}
      {% endfor %}
     </tr>
    {% endif %}
   </tbody>
  {% endfor %}
 </table>
{% endblock %}
