{# vim: set ft=jinja: #}
{#
   Parameters:
   * job: Job (if job_page)
   * job_page: bool
   * tasks: List[Task]
#}
{% extends "base.tmpl" %}
{%- set page = "tasks" -%}
{%- block title -%}
 {%- if job_page -%}
  {{ link("jobs", "Job #" ~ job.id, job.id) }}
 {%- else -%}
  Searching tasks
 {%- endif -%}
{%- endblock -%}

{% block content %}
 {% if job_page %}
  <ul>
   {% call obj_info("Event") %}
    {{ link("events", "#" ~ job.event, job.event) }}
   {% endcall %}
   {% call obj_info("Builder") %}
    {{ link("jobs", job.builder, builder=job.builder) }}
   {% endcall %}
   {% call obj_info("Arch") %}
    {{ link("jobs", job.arch, arch=job.arch) }}
   {% endcall %}
   {% call obj_info("Status") %}
    <span class="status status-{{ job.status }}">
     {{ link("jobs", job.status, status=job.status) }}
    </span>
   {% endcall %}
  </ul>
 {% else %}
  {% call searchform() %}
   {{ input("jobid", "Job ID", type="number") }}
   {{ input("repo", "Repository (*)") }}
   {{ input("pkg", "Package (*)") }}
   {{ input("maintainer", "Maintainer (*)") }}
   {{ fselect("status", "Status", statuses) }}
   {{ input("builder", "Builder (*)") }}
   {{ input("arch", "Arch (*)") }}
   {{ input("eventid", "Event ID", type="number") }}
   {{ input("project", "Project (*)") }}
   {{ input("user", "User (*)") }}
   {{ fselect("type", "Type", event_types) }}
   {{ input("clone", "Clone URI (*)") }}
   {{ input("target", "Target branch (*)") }}
   {{ input("mrid", "Merge request ID") }}
   {{ input("mrclone", "Merge request clone URI (*)") }}
   {{ input("mrbranch", "Merge request branch (*)") }}
  {% endcall %}
 {% endif %}

 <table>
  <thead>
   <tr>
    <th>ID</th>
    {% if not job_page %}
     <th>Job</th>
    {% endif %}
    <th>Repository</th>
    <th>Package</th>
    <th>Maintainer</th>
    <th>Status</th>
    <th>Created</th>
    <th>Updated</th>
    <th>Artifacts</th>
   </tr>
  </thead>
  <tbody>
   {% for task in tasks %}
    <tr>
     <td>{{ link("tasks", task.id, task.id) }}</td>
     {% if not job_page %}
      <td>{{ link("jobs", task.job, task.job) }}</td>
     {% endif %}
     <td>{{ link("tasks", task.repo, repo=task.repo) }}</td>
     <td>{{ link("tasks", task.pkg, pkg=task.pkg) }}</td>
     <td>
      {{ link(
        "tasks",
        task.maintainer.split(" <", maxsplit=1)|first,
        maintainer=task.maintainer
       ) }}
     </td>
     <td class="status status-{{ task.status }}">
      {{ link("tasks", task.status, status=task.status) }}
     </td>
     <td>{{ time(task.created) }}</td>
     <td>{{ time(task.updated) }}</td>
     <td>
      {% if task.artifacts %}
       {{ link("tasks", task.artifacts, task.id) }}
      {% endif %}
     </td>
    </tr>
   {% endfor %}
  </tbody>
 </table>
{% endblock %}
